@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.hero_sec {
  position: relative;
}
.hero_sec .scrollbar_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 13%;
  bottom: 5%;
  transform: translate(-10%, 5%);
  z-index: 3;
  --swiper-pagination-color: #fff;
}
.hero_sec .scrollbar_wrapper .play_btn {
  --btnsize: 16px;
  display: inline-block;
  vertical-align: middle;
  --btncolor: #fff;
  background: transparent;
  width: 0;
  height: var(--btnsize);
  border-color: transparent transparent transparent var(--btncolor);
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: calc(var(--btnsize) * 0.5) 0 calc(var(--btnsize) * 0.5) calc(var(--btnsize) * 0.81);
}
.hero_sec .scrollbar_wrapper .play_btn.pause {
  border-style: double;
  border-width: 0px 0 0px calc(var(--btnsize) * 0.81);
}
.hero_sec .scrollbar_wrapper .progress_bar {
  position: relative;
  flex: 1;
}
.hero_sec .home-nav {
  max-width: 85%;
}
.hero_sec .home-nav .swiper-prev, .hero_sec .home-nav .swiper-next {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
}
.hero_sec .home-nav .swiper-prev svg, .hero_sec .home-nav .swiper-next svg {
  vertical-align: middle;
}

.banner.home-banner .bg {
  height: 100vh;
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg {
    height: 80vh;
  }
}
.banner.home-banner .bg .banner-wrapper {
  left: 50%;
  top: unset;
  bottom: 10%;
  transform: translate(-50%, 10%);
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg .banner-wrapper {
    width: 400px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.home-banner .bg .banner-wrapper {
    width: 300px;
  }
}
.banner.home-banner .bg .banner-wrapper .heading {
  text-align: center;
}
.banner.home-banner .bg .banner-wrapper .heading h1 {
  font-size: 48px;
}
.banner.home-banner .bg .banner-wrapper .heading p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
.banner.home-banner .bg .banner-wrapper .heading .btn {
  margin-top: 40px;
}

@media only screen and (max-width: 540px) {
  .home-secA {
    padding: 40px 0 0;
  }
}
.home-secA .sec-heading {
  position: relative;
  z-index: 0;
}
.home-secA .sec-heading::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secA .sec-heading::before {
  width: 200px;
  height: 200px;
  filter: blur(70px);
  left: 50%;
  transform: translateX(-50%);
  top: -70%;
}
.home-secA .sec-heading .icon {
  padding-bottom: 20px;
}
@media only screen and (max-width: 540px) {
  .home-secA .sec-heading .icon {
    padding-bottom: 10px;
  }
}
.home-secA .sec-heading .icon img {
  width: 35px;
}
@media only screen and (max-width: 540px) {
  .home-secA .sec-heading .icon img {
    width: 25px;
  }
}
.home-secA .collection-container {
  padding: 60px 0 40px;
  gap: 20px;
}
@media only screen and (max-width: 768px) {
  .home-secA .collection-container {
    padding: 30px 0 0px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .collection-container {
    padding: 20px 0 0;
    gap: 5px;
  }
}
.home-secA .collection-container .collect-item {
  flex: 1;
  z-index: 0;
  padding: 3px;
  position: relative;
}
.home-secA .collection-container .collect-item:hover::before {
  opacity: 1;
}
.home-secA .collection-container .collect-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 0;
  background: linear-gradient(93deg, #030735 25%, #fff 50%, #030735 85%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
}
.home-secA .collection-container .collect-item:hover figure::after {
  opacity: 1;
}
.home-secA .collection-container .collect-item:hover figure img {
  transform: scale(1.1);
}
.home-secA .collection-container .collect-item:hover figcaption {
  opacity: 1;
}
.home-secA .collection-container .collect-item figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home-secA .collection-container .collect-item figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.home-secA .collection-container .collect-item figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.home-secA .collection-container .collect-item figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  transition: 0.5s ease;
}
.home-secA .collection-container .collect-item figure::after {
  opacity: 0;
}
.home-secA .collection-container .collect-item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.home-secA .collection-container .collect-item figcaption {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  opacity: 0;
  transition: 0.5s ease;
}
@media only screen and (max-width: 768px) {
  .home-secA .collection-container .collect-item figcaption {
    gap: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .home-secA .collection-container .collect-item figcaption h4 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secA .collection-container .collect-item figcaption h4 {
    font-size: 18px;
  }
}

.home-secB {
  position: relative;
  z-index: 0;
  position: relative;
  z-index: 0;
}
.home-secB::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secB::before {
  left: 3%;
  top: 0;
  width: 300px;
  filter: blur(40px);
}
@media only screen and (max-width: 540px) {
  .home-secB::before {
    width: 200px;
  }
}
.home-secB::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secB::after {
  right: 20%;
  bottom: 10%;
  width: 300px;
  height: 300px;
  filter: blur(30px);
}
@media only screen and (max-width: 540px) {
  .home-secB::after {
    width: 200px;
    height: 200px;
  }
}
.home-secB .upper-sec {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .home-secB .unisex-category-slider {
    height: 400px;
  }
}
.home-secB .unisex-category-slider .swiper-slide {
  position: relative;
}
.home-secB .unisex-category-slider .swiper-slide:hover::after {
  opacity: 1;
}
.home-secB .unisex-category-slider .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px 0;
  background: linear-gradient(93deg, #030735 25%, #fff 50%, #030735 85%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  opacity: 0;
  transition: 0.5s ease;
}
.home-secB .unisex-category-slider .swiper-slide::after {
  z-index: 1;
}
.home-secB .unisex-category-slider .swiper-slide .figure img {
  aspect-ratio: 0.7;
}
.home-secB .unisex-category-slider .swiper-slide figcaption {
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  --titlepad: 150px;
}
.home-secB .unisex-category-slider .swiper-slide figcaption .ico {
  margin-bottom: 20px;
}
.home-secB .unisex-category-slider .swiper-slide figcaption .ico img {
  width: 30px;
}
.home-secB .unisex-category-slider .swiper-slide figcaption h6 {
  text-transform: capitalize;
}
.home-secB .unisex-category-slider .swiper-slide figcaption .xbjs {
  width: 100%;
  padding: 0 2rem;
}
.home-secB .unisex-category-slider .swiper-slide figcaption .xbjs p.whitetxt {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 991px) {
  .home-secB .unisex-category-slider .swiper-slide figcaption .xbjs p.whitetxt {
    margin-bottom: 1.5rem;
  }
}

.banner.travel-banner::after {
  padding: 3px 0;
}
.banner.travel-banner .bg {
  height: 90vh;
}
@media only screen and (max-width: 540px) {
  .banner.travel-banner .bg {
    height: 80vh;
  }
}
.banner.travel-banner .bg .banner-wrapper {
  left: 50%;
  top: unset;
  bottom: 45%;
  transform: translate(-50%, 45%);
  translate: unset;
  max-width: 760px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .banner.travel-banner .bg .banner-wrapper {
    width: 300px;
  }
}
.banner.travel-banner .bg .banner-wrapper .container .heading .icon {
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .icon {
    padding-bottom: 10px;
  }
}
.banner.travel-banner .bg .banner-wrapper .container .heading .icon img {
  width: 25px;
}
.banner.travel-banner .bg .banner-wrapper .container .heading h3 {
  padding-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading h3 {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading h3 {
    padding-bottom: 10px;
    font-size: 14px;
  }
}
.banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head {
  padding: 10px;
}
@media only screen and (max-width: 540px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head {
    width: 300px;
  }
}
.banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head h2 {
  line-height: 1.2;
}
@media only screen and (max-width: 1024px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 991px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head h2 {
    font-size: 43px;
  }
}
@media only screen and (max-width: 540px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .gradient-head h2 {
    font-size: 30px;
  }
}
.banner.travel-banner .bg .banner-wrapper .container .heading .btn-grad {
  margin-top: 20px;
}
@media only screen and (max-width: 540px) {
  .banner.travel-banner .bg .banner-wrapper .container .heading .btn-grad {
    margin-top: 0;
  }
}

.home-secC .upper-sec {
  position: relative;
  z-index: 0;
}
.home-secC .upper-sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secC .upper-sec::before {
  left: 50%;
  top: 0;
  width: 300px;
  transform: translateX(-50%);
  filter: blur(40px);
}
.home-secC .tech-category-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-secC .tech-category-slider .swiper-slide:hover .figure img {
  transform: scale(1.1);
}
.home-secC .tech-category-slider .swiper-slide:hover figcaption {
  background: linear-gradient(0deg, #fff, #fff);
  transition: 0.5s ease;
}
.home-secC .tech-category-slider .swiper-slide .figure {
  line-height: 0;
  width: 100%;
  overflow: hidden;
}
.home-secC .tech-category-slider .swiper-slide figcaption {
  width: 100%;
  background: var(--gradient-a);
  padding: 10px;
  transition: 0.5s ease;
}
@media only screen and (max-width: 540px) {
  .home-secC .tech-category-slider .swiper-slide figcaption {
    padding: 5px;
  }
}
.home-secC .tech-category-slider .swiper-slide figcaption h6 {
  color: #000;
  text-align: center;
}
@media only screen and (max-width: 540px) {
  .home-secC .tech-category-slider .swiper-slide figcaption h6 {
    font-size: 16px;
  }
}

.home-secD {
  padding-bottom: 150px;
}
@media only screen and (max-width: 768px) {
  .home-secD {
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secD {
    padding-bottom: 60px;
  }
}
.home-secD .upper-sec {
  position: relative;
  z-index: 0;
  position: relative;
  z-index: 0;
}
.home-secD .upper-sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secD .upper-sec::before {
  left: 10%;
  transform: translateX(-10%);
  width: 400px;
  height: 400px;
  filter: blur(40px);
}
@media only screen and (max-width: 540px) {
  .home-secD .upper-sec::before {
    width: 200px;
    height: 200px;
  }
}
.home-secD .upper-sec::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secD .upper-sec::after {
  right: 10%;
  transform: translateX(10%);
  width: 400px;
  height: 400px;
  filter: blur(40px);
}
@media only screen and (max-width: 540px) {
  .home-secD .upper-sec::after {
    width: 200px;
    height: 200px;
  }
}
.home-secD .personal-container {
  position: relative;
  position: relative;
  z-index: 0;
}
.home-secD .personal-container::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  filter: blur(100px);
  border-radius: 50%;
}
.home-secD .personal-container::before {
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0%;
  width: 400px;
  height: 400px;
  filter: blur(40px);
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container::before {
    width: 200px;
    height: 200px;
  }
}
.home-secD .personal-container .slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  left: 50%;
  position: absolute;
  z-index: 2;
  translate: -50% -50%;
  top: 50%;
}
@media only screen and (max-width: 768px) {
  .home-secD .personal-container .slider-nav {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider {
    height: 310px;
  }
}
.home-secD .personal-container .personal-slider .swiper-slide::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
}
.home-secD .personal-container .personal-slider .swiper-slide.swiper-slide-active figcaption {
  translate: -50% 20%;
  bottom: 20%;
}
.home-secD .personal-container .personal-slider .swiper-slide figcaption {
  left: 50%;
  translate: -50% 100%;
  text-align: center;
  max-width: 330px;
  transition: 1s ease;
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider .swiper-slide figcaption {
    width: 80%;
  }
}
.home-secD .personal-container .personal-slider .swiper-slide figcaption .icon {
  margin-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider .swiper-slide figcaption .icon {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider .swiper-slide figcaption .icon svg {
    width: 25px;
  }
}
.home-secD .personal-container .personal-slider .swiper-slide figcaption h6 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 15px;
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider .swiper-slide figcaption h6 {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 10px;
  }
}
.home-secD .personal-container .personal-slider .swiper-slide figcaption p {
  color: rgba(255, 255, 255, 0.6980392157);
}
@media only screen and (max-width: 540px) {
  .home-secD .personal-container .personal-slider .swiper-slide figcaption p {
    font-size: 14px;
    line-height: 1.2;
  }
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: var(--primary);
  opacity: 1;
  z-index: 7;
  transition: all 0.3s ease;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.preloader.page-loaded {
  visibility: hidden;
}
.preloader.page-loaded::before, .preloader.page-loaded::after {
  height: 0;
}
.preloader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  background: var(--primary);
  transition: 1.1s;
  -webkit-clip-path: ellipse(66% 100% at 50% 0%);
  clip-path: ellipse(66% 100% at 50% 0%);
}
.preloader::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  background: var(--primary);
  transition: 1.1s;
  -webkit-clip-path: ellipse(85% 100% at 50% 100%);
  clip-path: ellipse(85% 100% at 50% 100%);
}
.preloader .loader-logo {
  width: 100px;
  margin: 0 auto 40px;
  line-height: 0;
}
.preloader .loader-logo svg {
  width: 100%;
  height: 100%;
}
.preloader .progress-bar-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0901960784);
  height: 1.5px;
  position: relative;
}
.preloader .progress-bar-container .progress-bar {
  width: 0;
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  right: 0;
  height: 1.5px;
  background: #fff;
  z-index: 2;
}
.preloader .progress-bar-container .progress-bar::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -9px;
  top: -21px;
  background: url(/assets/icon/fav.svg) no-repeat;
  background-size: 20px;
}
.preloader .loader-count {
  font-size: 40px;
  color: var(--white);
  font-family: "Le Jeune Deck";
}/*# sourceMappingURL=home.css.map */