@import '../_var'

.about-secA
    .flex
        align-items: center
        justify-content: space-around
        gap: 100px
        .colA
            flex: 0 1 auto
            .ub_icon
                mask-image: url(/assets/images/about/about_ub.svg)
                mask-size: 100%
                mask-repeat: no-repeat
                height: 390px
                width: 420px
                line-height: 0
        .colB
            flex:  1
            max-width: 700px
            h2
                margin-bottom: 20px
                letter-spacing: 7px
            .content
                margin-bottom: 20px
                max-height: 225px
                overflow: hidden
                transition: max-height .5s ease
                &.open_height
                    max-height: 450px
                    overflow: visible
            p
                padding-bottom: 15px
                color: $text
            .read_more
                color: $black
                display: flex
                align-items: center
                gap: 5px
.counter-sec
    &.about_counter
        .banner-wrapper
            text-align: center
            top: 60%
            translate: 0 -60%
            h2
                letter-spacing: 7px 
            .subhead
                margin: 0 auto
            .counter-wrapper
                justify-content: center
                margin-top: 30px
            .btn
                display: none
    .banner-wrapper
        color: $white
        line-height: 1.2
        h2
            font-size: 36px
        .subhead
            padding: 20px 0 30px
            max-width: 540px
            font-weight: 300
            line-height: 1.5
        .counter-wrapper
            display: flex
            align-items: center
            gap: 30px
            margin-bottom: 30px
            .counter-info-wrap
                h5
                    font-family: $Lato
                p
                    font-weight: 300