@import '../_var'

.banner
    &.about_banner
        .bg 
            height: 100vh
            @include media(768)
                height: 80vh 
            @include media(540)
                height: 50vh
            .banner-wrapper
                left: 50%
                top: unset
                bottom: 10%
                translate: -50% 10%
                @include media(768)
                    width: 100%
                .content
                    .icon
                        width: 70px
                        height: 70px
                        margin: 0 auto 30px
                    p
                        font-size: 16px
                        max-width: 400px
                        margin: 0 auto
                    .scroll_down
                        margin-top: 30px

.about-secA
    .flex
        align-items: center
        .colA
            flex: 1
            .ub_icon
                mask-image: url(/assets/images/about/about_ub.svg)
                mask-size: 100%
                mask-repeat: no-repeat
                height: 390px
                width: 420px
                margin: 0 auto
                line-height: 0
        .colB
            flex: 1
            h2
                margin-bottom: 20px
                letter-spacing: 7px
            p
                padding-bottom: 15px
                color: $text
            .read_more
                margin-top: 10px
                color: $black

.counter-sec
    &.about_counter
        .banner-wrapper
            text-align: center
            top: 60%
            translate: 0 -60%
            h2
                letter-spacing: 7px 
            .subhead
                margin: 0 auto
            .counter-wrapper
                justify-content: center
                margin-top: 30px
            .btn
                display: none
    .banner-wrapper
        color: $white
        line-height: 1.2
        h2
            font-size: 36px
        .subhead
            padding: 20px 0 30px
            max-width: 540px
            font-weight: 300
            line-height: 1.5
        .counter-wrapper
            display: flex
            align-items: center
            gap: 30px
            margin-bottom: 30px
            .counter-info-wrap
                h5
                    font-family: $Lato
                p
                    font-weight: 300