@import '../_common'

.size
    text-align: center
    &.cart_size
        .size_count
            background: $white
            input
                max-width: 35px
                height: 20px
    p
        padding-bottom: 5px
        font-size: 14px
        line-height: 1.2
        text-transform: uppercase
        font-weight: 600
    .size_count
        width: 100%
        padding: 7px 6px
        border: 1px solid #B4B1B1
        border-radius: 5px
        display: flex
        align-items: center
        gap: 3px
        button
            line-height: 1
            svg
                width: 15px
                height: 15px
        input
            outline: none
            border: none
            background: transparent
            max-width: 40px
            padding: 0 5px
            line-height: 1
            height: 30px
            text-align: center