@import '../_common'

.size
    text-align: center
    &.cart_size
        .size_count
            background: $white
            input
                max-width: 35px
                height: 20px
    p
        padding-bottom: 5px
        font-size: 14px
        line-height: 1.2
        text-transform: uppercase
        font-weight: 600
        @include media(540)
            color: $text
    .size_count
        width: 100%
        padding: 7px 6px
        border: 1px solid #B4B1B1
        border-radius: 5px
        display: flex
        align-items: center
        gap: 3px
        @include media(540)
            padding: 4px 2px
            gap: 1px
        button
            line-height: 1
            svg
                width: 15px
                height: 15px
        input
            outline: none
            border: none
            background: transparent
            max-width: 40px
            padding: 0 5px
            line-height: 1
            height: 30px
            text-align: center

.model.address-pop
    height: fit-content
    max-width: 500px
    top: unset
    bottom: 0%
    left: 50%
    transform: translate(-50%, 100%)
    transition: .5s ease
    @include media(540) 
        height: 100%
    &.is-open
        bottom: 50%
        transform: translate(-50%, 50%)
    .close
        top: 20px
        right: 20px
        svg
            width: 20px
            height: 20px
    .model-body
        padding: 20px 25px
        @include media(540) 
            padding: 60px 25px
        h3
            font-size: 20px
            text-transform: uppercase
        .form
            --gaptb: 10px
            --inputsize: 38px
            padding-top: 20px
            --labelfontbefore: 14px
            --labelafter: #000
            --labelfontafter: 12px
            --borderbefore: #666
            --borderafter: #000
            height: 400px
            overflow-y: auto
            @include media(540) 
                height: 100%
                overflow-y: visible
            .double-group
                display: grid
                grid-template-columns: repeat(2, 1fr)
                gap: 20px
            h6
                font-size: 16px
                font-family: $Lato
        .disclaimer
            padding: 15px 0 20px
            display: flex
            align-items: center
            gap: 7px
            position: relative
            .check-box
                --box: 20px
                height: 100%
                .in-bx
                    width: var(--box)
                    height: var(--box)
                    background: #D9D7D7
                    border-radius: 3px
                    position: relative
                    z-index: 1
                    &::before
                        content: ""
                        position: absolute
                        width: 100%
                        height: 100%
                        background: url(/assets/icon/tick-white.svg) no-repeat
                        background-position: 50% 50%
                        background-size: calc( var(--box) - 10px )
                        filter: invert(1)
                        z-index: 1
                        opacity: 0
                input
                    position: absolute
                    width: 100%
                    height: 100%
                    left: 0
                    top: 0
                    opacity: 0
                    z-index: 1
                    &:checked 
                        ~ .in-bx
                            &::before
                                opacity: 1
            p
                font-size: 14px
                color: $text 

.thankyou_box
    --container: 800px
    @include media(768)
        --container: 520px
    .container
        display: flex
        align-items: center
        border: 1px solid #D2D2D2
        padding: 40px 25px 70px
        background: url(/assets/images/checkout/checkout_bg.svg) no-repeat
        background-size: 140px
        background-position: left bottom
        @include media(768)
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            gap: 30px
        .colA
            text-align: center
            flex:  0 1 40%
            .icon
                img
                    width: 50px
            p
                max-width: 150px
                font-size: 20px
                font-weight: 700
                margin: 0 auto
                line-height: 1.2
        .colB
            flex: 1
            padding-left: 40px
            border-left: 1px solid #00000047
            @include media(768)
                padding-left: 0
                border-left: none
            p, span, a:not(.btn)
                color: $text
            span, a:not(.btn)
                display: block
                font-weight: 700
                margin-bottom: 20px
                @include media(540)
                    margin-bottom: 15px
            .btn
                padding: 0 30px
                border-radius: 50px

.model.changePass-pop
    height: fit-content
    max-width: 450px 
    top: unset
    bottom: 0%
    left: 50%
    transform: translate(-50%, 100%)
    transition: .5s ease
    &.is-open
        bottom: 50%
        transform: translate(-50%, 50%)
    .close
        top: 20px
        right: 20px
        svg
            width: 20px
            height: 20px
    .model-body
        padding: 40px 25px
        h6
            font-size: 16px
            font-family: $Lato
            font-weight: 700
        .form
            margin-top: 30px
            --inputsize: 36px
            .btn_wrapper
                margin-top: 15px

.home-secB
    position: relative
    &.aboutus_globe
        padding: 100px 0 
    .heading
        max-width: 470px
        margin: 0 auto
    .video
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        z-index: -1
        opacity: .1
        video
            width: 100%
            height: 100%
            object-fit: contain
    .flags_wrapper
        grid-template-columns: repeat(6, 1fr)
        max-width: 900px
        margin: 60px auto 
        @include media(991)
            grid-template-columns: repeat(3, 1fr)
            margin: 50px auto
            gap: 35px     
        @include media(540)
            margin: 30px auto
            gap: 20px
        figure
            display: flex
            align-items: center
            gap: 10px
            @include media(540)
                flex-direction: column
            img
                width: 35px
            p
                font-weight: 400
                letter-spacing: 2px
                text-transform: uppercase
                @include media(540)
                    font-size: 14px

.banner.video-banner
    .bg 
        height: 100vh
        @include media(768)
            height: 80vh 
        @include media(540)
            height: 50vh
        .banner-wrapper
            width: 100%
            left: 50%
            top: unset
            bottom: 15%
            translate: -50% 15%
            @include media(768)
                width: 100%
            .content
                .icon
                    width: 70px
                    height: 70px
                    margin: 0 auto 30px
                    @include media(1024)
                        margin: 0 auto 25px
                    @include media(540)
                        width: 50px
                        height: 50px
                h1
                    @include media(991)
                        font-size: 42px
                    @include media(768)
                        font-size: 36px
                    @include media(540)
                        font-size: 30px
                p
                    font-size: 16px
                    max-width: 400px
                    margin: 0 auto
                    @include media(540)
                        font-size: 14px
                .scroll_down
                    margin-top: 30px
                    animation: scroll 1.5s ease-in-out infinite forwards

.pay_online_wrapper
    position: relative
    width: 100%
    height: 100%
    @include media(991)
        flex-direction: column
    .colA, .colB
        flex: 1
    .colA
        .bg
            height: 100vh
            @include media(991)
                height: 70vh
            .banner-wrapper
                width: 100%
                text-align: center
                right: unset
                left: 50%
                translate: -50% -50%
                h1
                    font-size: 36px
                    letter-spacing: 2px
                    line-height: 1.5
                    @include media(540)
                        font-size: 30px
                        padding-bottom: 5px
                p
                    color: $white
    .colB
        padding: 40px 20px 40px 60px
        @include media(991)
            padding: 40px 20px
        .form
            --item: 2
            --gaptb: 20px
            --inputsize: 38px
            @include media(540)
                --item: 1
            .btn_wrapper
                text-align: center
                margin-top: 20px
                .btn
                    text-transform: none
                    padding: 0 20px
    .ub_logo
        width: 65px
        height: 65px
        position: absolute
        left: 47%
        top: 40%
        transform: translate(-47%, -40%)
        background: $white
        z-index: 1
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        box-shadow: 0 3px 8px 0px #0000003D
        @include media(991)
            display: none
        img
            width: 40px
            height: 40px

.landing-banner.banner
    .bg
        height: 100vh
        .banner-wrapper
            z-index: 2
            .content 
                display: flex
                align-items: center
                justify-content: center
                gap: 40px
                h1
                    flex: 0 1 auto
                    text-align: left
                    max-width: 680px
                    font-size: 40px
                .form_wrapper
                    flex: 1
                    max-width: 500px
                    padding: 40px 30px
                    background-color: $white
                    border-radius: 5px
                    .title
                        max-width: 300px
                        margin: 0 auto 30px
                        .icon
                            width: 60px 
                            height: 60px 
                            margin: 0 auto 10px
                        p
                            color: $black
                    .landing-form
                        --item: 2
                        --gaptb: 20px
                        --gaplr: 20px

.landing-secA
    --container: 800px